body {
  font-family: 'Cardo', serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.character-creation-container {
  padding: 0px 10px 0px 10px;
}

.character-creation-title {
  text-align: center;
  font-size: 2em;
  color: #E2AA38;
  border-bottom: 38px solid #232122;
  border-left: 0px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  width: 125px;
  margin: 0px 0px 0px 0px;
}

#priorities-grades-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 0px 0px;
  list-style-type: none;
  background-color: #232122;
  padding-left: 0px;
  padding-top: 1em;
  border-right-style: outset;
}

.grade {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border-style: inset;
  color: white;
  background-color: grey;
  cursor: pointer;
}

.grade:hover {
  color: #E2AA38;
}

.priority-container {
  padding: 5px 10px 10px 10px;
  /* flex-grow: 1; */
  background-color: #232122;
}

.priority-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.priority-title {
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  padding-left: 15px;
  padding-right: 5px;
  margin-right: -13px;
  font-size: 20px;
  color: #E2AA38;
  border-bottom-color: white;
}

.priorities-grade-container {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: dimgrey;
  height: 55px;
  width: 55px;
  list-style-type: none;
  border-radius: 50%;
  margin-left: 10px;
  border-style: ridge;
}

.priorities-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px 0px 0px 0px;
  border-bottom-style: outset;
  border-right-style: outset;
  background-color: #232122;
}

.priority-form {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-right-style: inset;
  border-bottom-style: inset;
}

.metatype-points {
  color: navajowhite;
  margin-left: .5em;
}

.priority-form-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

#attributes-container {
  /* flex-grow: 2; */
}

#attributes-stat-container {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  justify-content: space-around;
  border-right-style: inset;
  border-bottom-style: inset;
  padding-top: .5em;
  padding-bottom: .5em;
}

.att-column {
  text-align: center;
}

.points-container {
  display: flex;
  flex-direction: column;
  background-color: grey;
  border-right-style: inset;
  border-bottom-style: inset;
  margin-bottom: .5em;
}

.points-title {
  font-size: 20px;
  color: white;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-right: 1em;
  border-bottom-width: 2px;
  padding-left: .5em;
}

.points-container-total {
  display: flex;
  padding: 8px 0px;
  justify-content: center;
}

.attPoints-container {
  width: 65px;
}

.points-total {
  font-size: 20px;
  color: white;
}

.points-total-divider {
  font-size: 20px;
}

.points-num-max {
  color: #E2AA38;
  font-size: 20px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

.att-num-max {
  color: navajowhite;
}

.att-header-text {
  flex-grow: 1;
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  height: fit-content;
  color: navajowhite;
  padding-right: 2em;
}

.att-stat-list {
  padding: 0px 15px;
  margin-top: 5px;
  list-style: none;
  color: white;
}

.att-list-item {
  display: flex;
  flex-direction: column;
}

.att-stat-controls {
  display: flex;
  justify-content: space-around;
  color: white;
}

.magRes-button-text-container {
  display: flex;
  padding: 5px 10px 5px 0px;
}

.magRes-header-text {
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  height: fit-content;
  margin-right: 0.5em;
  color: navajowhite;
}

.magRes-body-text {
  color: white;
}

#skills-list-container {
  display: flex;
  flex-wrap: wrap;
  background-color: grey;
  justify-content: space-around;
  border-right-style: inset;
  border-bottom-style: inset;
  padding: .5em;
}

.skill-column {
  display: flex;
  flex-direction: column;
  padding: .5em;
}

.skill-header-text {
  border-bottom-color: black;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  height: fit-content;
  color: navajowhite;
  padding-right: 2em;
}

.skill-icon-header {
  display: flex;
}

.skill-sub-header {
  color: white;
}

.skill-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  margin-top: -.5em;
}

.skill-label-container {
  display: flex;
  flex-direction: column;
  padding-left: 0.5em;
}

.skill-text-field {
  margin-top: .5em;
}

.spec-skill-label {
  display: flex;
}

.spec-label {
  margin-left: 1.2em;
}

.selected-specialization {
  margin-left: 3em;
}

.skill-title {
  margin-right: .5em;
}